rpmbuild/BUILDROOT
rpmbuild/BUILD
rpmbuild/RPMS
rpmbuild/SRPM
version
rpmbuild/SOURCES/modules.tar.gz
debian/debhelper-build-stamp
debian/files
debian/.debhelper
debian/my-modules.substvars
debian/my-modules
pkg-release
debian/my-modules.debhelper.log
