#!/usr/bin/make -f  
DISTRIBUTION = $(shell sed -n "s/^VERSION_CODENAME=//p" /etc/os-release)
VERSION = 1.0
GITCOMMIT = $(shell cat pkg-release)
PACKAGEVERSION = $(VERSION)-0~$(DISTRIBUTION)0-$(GITCOMMIT)
# TARBALL = memcached-$(VERSION).tar.gz


%:  
	dh $@

override_dh_auto_build:
	@echo No need to build

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
